# URL de conexão do PostgreSQL
# Para desenvolvimento local: postgresql://usuario:senha@localhost:5432/nome_do_banco
# Para produção no Easypanel, a URL será provida pelas variáveis de ambiente do Easypanel.
DATABASE_URL=postgresql://agendawp:149agendaxl9@localhost:5432/agendawp
PORT=3001
